/* Styles to body */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  font-family: "Times New Roman", Times, serif;
  background: rgb(10, 182, 239);
  color: rgb(177, 165, 165);
}
/* Styles to todo container...................................................................................................*/
.Todo-container {
  width: 60vw;
  height: auto;
  /* border: 2px solid black; */
  background: white;
}

/* Style to app heading .................................................................................................... */
.Todo-container h1 {
  font-size: 2.7rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  color: rgb(177, 165, 165);
  margin-top: -2px;
}
/* .Todo-container hr {
  margin-top: -20px;
} */

/* Appling style to all lable ................................................................................................ */
label {
  color: rgb(177, 165, 165);
  font-size: 1rem;
  /* margin-bottom: 10px; */
}

/* Appling style to all input description, due date and category ..................................................................... */
.des-container {
  width: 95%;
  /* border: 2px solid red; */
  margin-left: 15px;
}

.des-container input {
  width: 95%;
  height: 40px;
  /* margin-left: 15px; */
  outline: none;
  border: transparent;
  font-size: 0.9rem;
  color: rgb(155, 141, 141);
}

.select-date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.category-container {
  width: 50%;
  border-top: 1px solid rgb(177, 165, 165);
  border-bottom: 1px solid rgb(177, 165, 165);
  padding: 15px;
}

.category-container select {
  width: 95%;
  height: 30px;
  outline: none;
  border: transparent;
  font-size: 0.9rem;
  color: rgb(155, 141, 141);
}
.date-container {
  width: 50%;
  border-top: 1px solid rgb(177, 165, 165);
  border-left: 1px solid rgb(177, 165, 165);
  border-bottom: 1px solid rgb(177, 165, 165);
  padding: 15px;
}

.date-container input {
  width: 95%;
  height: 30px;
  outline: none;
  border: transparent;
  font-size: 0.9rem;
  color: rgb(155, 141, 141);
}

/* Appling Style the add and del button ...................................................................................... */
.button-container {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
button {
  padding: 20px;
  margin: 10px 0px;
  outline: none;
  border: transparent;
  color: whitesmoke;
  font-size: 1.2rem;
  border-radius: 5px;
}

.btn-add {
  background-color: black;
  margin-right: 10px;
}
.btn-delete {
  background-color: orange;
}

/* Appling style to all task ................................................................................................ */
.task-unordered-list {
  /* width: 90%; */
  /* border: 2px solid black; */
  padding: 15px 30px;
}
.task-unordered-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.checkbox-description-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.checkbox-container {
  margin-right: 30px;
  width: 50px;
  height: 50px;
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-container input {
  border: 2px solid blue;
  width: 25px;
  height: 25px;
}
.task-heading {
  font-size: 1.2rem;
  font-weight: bolder;
  color: gray;
}
.task-dueDate-container p i {
  margin-right: 10px;
}
.task-unordered-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(177, 165, 165);
}
.category-place p {
  padding: 15px 30px;
  background-color: blue;
  font-weight: bold;
  color: whitesmoke;
  border-radius: 5px;
}
